
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #98fb98, #00a000);
}

.container, .result-screen {
    max-width: 800px;
    width: 90%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: relative;
    border-radius: 10px;
}

.container {
    display: block;
}

.result-screen {
    display: none;
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.voting-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.card img {
    width: 70%;
    height: auto;
    cursor: pointer;
}

.result-item {
    margin-bottom: 10px;
}
/* Add these styles to the existing CSS file */


/* Add these styles to the existing CSS file */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
}

#ok-button, #cancel-details {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

#ok-button:hover, #cancel-details:hover {
    background-color: #45a049;
}

#candidate-details-form label {
    display: block;
    margin: 10px 0 5px;
}

#candidate-details-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
}

#candidate-details-form button[type="submit"] {
    background-color: #008CBA;
    margin-right: 10px;
}

#candidate-details-form button[type="submit"]:hover {
    background-color: #007BB5;
}
